@model CENV_JMH.DO.ShowingInstance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShowingInstance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="@Model.HallID" hidden />
            <input asp-for="@Model.ShowingID" hidden />
            <input asp-for="@Model.ID" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Showing.Name" class="control-label"></label>
                <input asp-for="Showing.Name" class="form-control" />
                <span asp-validation-for="Showing.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hall.Name" class="control-label"></label>
                <input asp-for="Hall.Name" class="form-control" />
                <span asp-validation-for="Hall.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsSold" class="control-label"></label>
                <input asp-for="SeatsSold" class="form-control" />
                <span asp-validation-for="SeatsSold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
