@model CENV_JMH.DO.Showing

<div style="flex: 1;">
    <h3>@Model.Name</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TicketPrice) &euro;
        </dd>
    </dl>
</div>